<h1>Bienvenue sur mon blog !</h1>

<br/>

<span style= "text-decoration: underline; border-bottom: 1px solid #000"> Liste des articles</span>

<br/> <br/>

<ul>
    <% @articles.each do |article| %>
          <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
    <% end %>
</ul>

<br/>

<%= paginate @articles %>